@media (max-width:1000px) {
  #home {
    overflow :hidden;
  }

 .maintitle {
    padding:20vh 0 0  30vh;
  } 

  .maintitle h1 {
    font-size: 10vh;
    padding-left: 4vh
  }

  .main2 {
    font-size:5vh;
  }
}

@media (max-width: 670px) {
 
}

@media (orientation: portrait) and (max-width:480px) {
  .maintitle {
    padding:0vh 6.5vh 0 7vw  ;
    font-size: 5vh;
  } 
  .main2 {
    font-size :35px;
  }
}

@media screen and (min-width:481px) {
  .maintitle {
    padding:20px;
  } 
}